<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--Sto implentando thymeleaf. CON th: posso accedere a tutte le funzionalità di thymeleaf-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--mettiam una tabella in cui mettiamo i nostri books-->
    <table>
        <tr>
            <th>ID</th>
            <th>Titolo</th>
            <th>ISBN</th>
            <th>Autore</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">123</td>   <!--il testo sarà rimpiazzato dopo ovviamente-->
            <td th:text="${book.titolo}">Titolo esempio</td>
            <td th:text="${book.isbn}">123-asd</td>
            <td th:text="${book.author.getName()}">Carlo</td>
        </tr>
    </table>
</body>
</html>